* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styling for header bar */

header {
    display: flex;
    background-image: linear-gradient(to right, violet, blue);
    color: white;
    padding: 5px;
    text-align: center;
}


.searchButton {
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: blue;

}

.searchButton:hover {
    background-color: violet;
    border: violet;
}

#search-area {
    display: flex;
    flex-wrap: wrap;
}

#weather-area {
    display: flex;
    flex-wrap: wrap;
}


